In [1]:
import pandas as pd

In [ ]:

df = pd.read_csv('./서울시 일반음식점 인허가 정보.csv')
df

In [ ]:
new_df = df[['사업장명','상세영업상태명', '업태구분명','지번주소', '도로명주소']]
new_df

## 결측치 제거

### '상세영업상태명'

In [100]:
new_df[new_df.상세영업상태명.isnull()]

Empty DataFrame
Columns: [사업장명, 상세영업상태명, 업태구분명, 지번주소, 도로명주소]
Index: []

In [ ]:
# 폐업한 사업장 행 제거
idx = new_df[new_df['상세영업상태명'] == '폐업'].index
new_df.drop(idx, inplace=True)
new_df

### '업태구분명'

In [104]:
new_df[new_df.업태구분명.isnull()]

Empty DataFrame
Columns: [사업장명, 상세영업상태명, 업태구분명, 지번주소, 도로명주소]
Index: []

In [103]:
# nan값 제거
new_df = new_df.dropna(subset=['업태구분명'], how='any', axis=0)

In [ ]:
# 특정 업태 행 제거
li = ['기타', '기타 휴게음식점', '까페', '다방', '룸살롱', '이동조리', '전통찻집', '출장조리', '커피숍']
new_df.drop(new_df[new_df['업태구분명'].isin(li)].index, inplace=True)
new_df

In [108]:
new_df.업태구분명.unique()

array(['한식', '일식', '경양식', '호프/통닭', '탕류(보신용)', '중국식', '외국음식전문점(인도,태국등)',
       '식육(숯불구이)', '분식', '김밥(도시락)', '정종/대포집/소주방', '라이브카페', '횟집',
       '패밀리레스트랑', '뷔페식', '통닭(치킨)', '냉면집', '감성주점', '키즈카페', '패스트푸드', '복어취급'],
      dtype=object)

### '사업장명'

In [109]:
new_df[new_df.사업장명.isnull()]

Empty DataFrame
Columns: [사업장명, 상세영업상태명, 업태구분명, 지번주소, 도로명주소]
Index: []

In [90]:
# nan값 있는 행 제거
new_df = new_df.dropna(subset=['사업장명'], how='any', axis=0)

In [ ]:
new_df[new_df['사업장명'].str.contains('위원회')]

In [ ]:
idx = new_df[new_df['사업장명'].str.contains('위원회')].index
new_df.drop(idx, inplace=True)
new_df

### '도로명주소', '지번주소'

In [135]:
new_df[new_df['도로명주소'].isnull()]

Empty DataFrame
Columns: [사업장명, 상세영업상태명, 업태구분명, 지번주소, 도로명주소]
Index: []

In [ ]:
# 도로명주소의 결측치는 지번주소로 대치
new_df['도로명주소'].fillna(new_df['지번주소'], inplace=True)
new_df

In [ ]:
new_df[new_df['도로명주소'].str.contains('서울')]

In [ ]:
idx = new_df[new_df['도로명주소'].str.contains('경기도')].index
new_df.drop(idx, inplace=True)
new_df

In [ ]:
df = new_df

## 크롤링용 CSV

In [2]:
import pandas as pd

In [38]:
df = pd.read_csv('./res_list.csv', index_col = 0)
df.reset_index(drop=True, inplace=True)
df.drop(['지번주소'], axis=1, inplace=True)
df

,사업장명,상세영업상태명,업태구분명,도로명주소
0,매취랑 동대문점,영업,한식,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)"
1,치카바,영업,일식,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)"
2,오고보,영업,경양식,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)"
3,또봉이통닭 가락본동점,영업,호프/통닭,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)"
4,양이야기,영업,탕류(보신용),"서울특별시 송파구 법원로11길 11, 문정현대지식산업센터1-1 B동 1층 152호 ..."
...,...,...,...,...
101810,불닭발땡초동대문엽기떡볶이쌍문역점,영업,한식,"서울특별시 도봉구 도봉로118길 6, 1층 (창동)"
101811,DNJ,영업,중국식,"서울특별시 노원구 노원로 244, 보스턴 산부인과 1층 (하계동)"
101812,별달맛집,영업,한식,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)"
101813,북경반점,영업,중국식,서울특별시 종로구 명륜길 31 (명륜3가)
101814,진도식당,영업,한식,서울특별시 강동구 천호대로151길 14-6 (천호동)

In [32]:
# 1(강서구 + 양천구)
gs = df[df['도로명주소'].str.contains('강서구')]
yc = df[df['도로명주소'].str.contains('양천구')]

gs_yc = pd.concat([gs, yc])
gs_yc.reset_index(drop=True, inplace=True)
gs_yc

,사업장명,상세영업상태명,업태구분명,도로명주소
0,봉구스 밥버거,영업,한식,"서울특별시 강서구 등촌로51길 9, 1층 (등촌동)"
1,모루야,영업,일식,"서울특별시 강서구 공항대로 194, 문영 퀸즈파크12차 1층 111호 (마곡동)"
2,야키토리잔잔 마곡점,영업,정종/대포집/소주방,"서울특별시 강서구 마곡중앙6로 89, 뉴골든타워 1층 104-1,105-1,105-..."
3,수성,영업,한식,"서울특별시 강서구 양천로 344, 2층 205-1호 (마곡동, 가양 1동 마곡센트럴..."
4,부대냉삼 이백집,영업,한식,"서울특별시 강서구 공항대로 200, 마곡지웰타워 1층 114,115호 (마곡동)"
...,...,...,...,...
8396,옥천집,영업,한식,"서울특별시 양천구 목동로21길 4, 1층 (신정동)"
8397,역전우동0410 신정네거리역점,영업,한식,"서울특별시 양천구 중앙로43길 14, 상가A동 1층 120호 (신정동, 래미안 목동..."
8398,오렌지호프치킨,영업,호프/통닭,"서울특별시 양천구 목동중앙남로 99 (목동, 1층 101호)"
8399,상도연탄갈비,영업,식육(숯불구이),"서울특별시 양천구 신목로 100-2, 1~2층 (목동)"
8400,동원기사식당,영업,한식,"서울특별시 양천구 목동남로 64-1, 1층 (신정동)"

In [33]:
# 2(영등포구 + 구로구 + 금천구)
ydp = df[df['도로명주소'].str.contains('영등포구')]
gr = df[df['도로명주소'].str.contains('구로구')]
gc = df[df['도로명주소'].str.contains('금천구')]

ydp_gr_gc = pd.concat([ydp, gr, gc])
ydp_gr_gc.reset_index(drop=True, inplace=True)
ydp_gr_gc

,사업장명,상세영업상태명,업태구분명,도로명주소
0,김밥오리진(Origin),영업,분식,"서울특별시 영등포구 여의대방로69길 19, 1층 110호 (여의도동)"
1,순수순 부대찌개&닭갈비,영업,한식,"서울특별시 영등포구 은행로 58, 지하층 105호, 106호 (여의도동, 삼도오피스텔)"
2,무의도바다손칼국수,영업,한식,"서울특별시 영등포구 디지털로 407, 1층 (대림동)"
3,라사천마라탕 대림점,영업,중국식,"서울특별시 영등포구 디지털로 398, 대성빌딩 1층 104호 (대림동)"
4,주식회사 해담채여의도,영업,한식,"서울특별시 영등포구 은행로 30, 중소기업중앙회 신관1층 110호 (여의도동)"
...,...,...,...,...
12385,뚜리바분식,영업,분식,서울특별시 금천구 문성로 62-15 (독산동)
12386,오유미당 금천롯데캐슬점,영업,한식,"서울특별시 금천구 시흥대로 291, 310동 1층 152호 (독산동, 금천롯데캐슬골..."
12387,옥군.,영업,횟집,"서울특별시 금천구 벚꽃로 314, 1, 2층 (가산동)"
12388,산골녹두파전,영업,한식,"서울특별시 금천구 시흥대로63길 33 (시흥동, 지상1층)"
12389,오한수 우육면가,영업,중국식,"서울특별시 금천구 디지털로9길 68, 대륭포스트타워 5차 1층 110호 (가산동)"

In [39]:
# 3(동작구 + 관악구)
dj = df[df['도로명주소'].str.contains('동작구')]
gw = df[df['도로명주소'].str.contains('관악구')]

dj_gw = pd.concat([dj, gw])
dj_gw.reset_index(drop=True, inplace=True)
dj_gw

,사업장명,상세영업상태명,업태구분명,도로명주소
0,단쇼우 이자카야,영업,한식,"서울특별시 동작구 동작대로9길 4, 1층 103호 (사당동)"
1,김말이와 떡볶이,영업,분식,"서울특별시 동작구 양녕로26길 4, 1층 (상도동)"
2,아트모스페라(ATMOSFERA),영업,경양식,"서울특별시 동작구 동작대로7길 102, 2층 (사당동)"
3,짱오기네,영업,분식,"서울특별시 동작구 사당로14길 10, 102호 (사당동)"
4,무무(Moo Moo),영업,분식,"서울특별시 동작구 여의대방로24길 66, 1층 (신대방동)"
...,...,...,...,...
6858,구구족(봉천역점),영업,한식,"서울특별시 관악구 남부순환로 1741, 1층 (봉천동)"
6859,청담동마녀김밥 서울대입구역점,영업,분식,"서울특별시 관악구 남부순환로218길 1, 서울대역 마에스트로 1층 103호 (봉천동)"
6860,푸라닭 청룡점,영업,호프/통닭,"서울특별시 관악구 참숯1길 19, 상가2동 지하1층 103호 (봉천동, e편한세상서..."
6861,감센,영업,한식,"서울특별시 관악구 봉천로14길 27, 1층 (신림동)"
6862,엠브로돈까스 봉천점,영업,한식,"서울특별시 관악구 쑥고개로 86, 조광빌딩 1층 102호 (봉천동)"

In [40]:
# 4(서초구 + 강남구)
sc = df[df['도로명주소'].str.contains('서초구')]
gn = df[df['도로명주소'].str.contains('강남구')]

sc_gn = pd.concat([sc, gn])
sc_gn.reset_index(drop=True, inplace=True)
sc_gn

,사업장명,상세영업상태명,업태구분명,도로명주소
0,두번먹는 명인김치찜,영업,한식,"서울특별시 서초구 도구로 119-2, 지하1층 (방배동)"
1,삼호령 김치찜,영업,한식,"서울특별시 서초구 도구로 119-2, 지하1층 (방배동)"
2,마당재 한우국밥,영업,한식,"서울특별시 서초구 강남대로43길 12, 1층 (서초동)"
3,참살이청국장,영업,한식,"서울특별시 서초구 서초중앙로 63 (서초동,지하1층5호)"
4,예당,영업,한식,"서울특별시 서초구 반포대로 121, 사랑의교회 13층 (서초동)"
...,...,...,...,...
15170,윤쿡당,영업,한식,"서울특별시 강남구 선릉로62길 7, 지상3층 301호 (대치동)"
15171,첼시스 하이볼 가로수길,영업,"외국음식전문점(인도,태국등)","서울특별시 강남구 도산대로15길 47, 지상1층 (신사동)"
15172,마케집 논현점,영업,경양식,"서울특별시 강남구 강남대로118길 12 (논현동,지상1층)"
15173,로이신사,영업,경양식,"서울특별시 강남구 도산대로1길 78, 지하1층,지상1층 (신사동)"
15174,별달맛집,영업,한식,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)"

In [41]:
# 5(송파구 + 강동구)
sp = df[df['도로명주소'].str.contains('송파구')]
gd = df[df['도로명주소'].str.contains('강동구')]

sp_gd = pd.concat([sp, gd])
sp_gd.reset_index(drop=True, inplace=True)
sp_gd

,사업장명,상세영업상태명,업태구분명,도로명주소
0,치카바,영업,일식,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)"
1,오고보,영업,경양식,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)"
2,또봉이통닭 가락본동점,영업,호프/통닭,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)"
3,양이야기,영업,탕류(보신용),"서울특별시 송파구 법원로11길 11, 문정현대지식산업센터1-1 B동 1층 152호 ..."
4,육회바른연어 위례점,영업,한식,"서울특별시 송파구 위례광장로 120, 상가동 111호 (장지동, 위례중앙푸르지오1단지)"
...,...,...,...,...
9038,회전포차,영업,호프/통닭,"서울특별시 강동구 상암로 14, 102호 (암사동)"
9039,명성반점,영업,중국식,"서울특별시 강동구 상일로15길 30, 1층 101호 (고덕동)"
9040,달빛감성포차,영업,정종/대포집/소주방,"서울특별시 강동구 양재대로124길 29, 1층 101호 (길동, 에이프러스빌)"
9041,하다식당,영업,분식,"서울특별시 강동구 풍성로 105, 1층 (성내동)"
9042,진도식당,영업,한식,서울특별시 강동구 천호대로151길 14-6 (천호동)

In [42]:
# 6(마포구 + 서대문구 + 은평구)
mp = df[df['도로명주소'].str.contains('마포구')]
sdm = df[df['도로명주소'].str.contains('서대문구')]
yp = df[df['도로명주소'].str.contains('은평구')]

mp_sdm_yp = pd.concat([mp, sdm, yp])
mp_sdm_yp.reset_index(drop=True, inplace=True)
mp_sdm_yp

,사업장명,상세영업상태명,업태구분명,도로명주소
0,토쿠이,영업,일식,"서울특별시 마포구 동교로 282, 지1층 (연남동)"
1,전주밥차,영업,한식,"서울특별시 마포구 독막로 311, 재화스퀘어 지하1층 B113호 (염리동)"
2,하봉참치스시,영업,일식,"서울특별시 마포구 마포대로12길 36, 소담빌딩 2층 (공덕동)"
3,길포차,영업,한식,"서울특별시 마포구 만리재로 80-4, 지1층 (공덕동)"
4,소담옥,영업,한식,"서울특별시 마포구 만리재옛길 12-1, 1층 (신공덕동)"
...,...,...,...,...
11606,두찜 은평불광점,영업,한식,"서울특별시 은평구 불광로 122-10, 제상가동 제지3층 106호 (불광동, 북한산..."
11607,메가비어 구파발역점,영업,한식,"서울특별시 은평구 통일로 1034, 상가동 1층 117호 (진관동, 은평 스카이뷰 자이)"
11608,아이 캔 플라이,영업,한식,"서울특별시 은평구 갈현로 288, 1층 (갈현동)"
11609,파스타정,영업,호프/통닭,"서울특별시 은평구 연서로29길 30, 1층 (갈현동)"
11610,세칸,영업,한식,"서울특별시 은평구 갈현로36길 19, 지하1층 (갈현동)"

In [43]:
# 7(용산구 + 중구 + 종로구)
ys = df[df['도로명주소'].str.contains('용산')]
j = df[df['도로명주소'].str.contains('중구')]
jr = df[df['도로명주소'].str.contains('종로구')]

ys_j_jr = pd.concat([ys, j, jr])
ys_j_jr.reset_index(drop=True, inplace=True)
ys_j_jr

,사업장명,상세영업상태명,업태구분명,도로명주소
0,역전우동0410 숙대입구점,영업,일식,"서울특별시 용산구 청파로 277, 1층 (청파동3가)"
1,끼(KKI),영업,"외국음식전문점(인도,태국등)","서울특별시 용산구 신흥로 97-6, 2층 (용산동2가)"
2,유한(YOUHAN),영업,"외국음식전문점(인도,태국등)","서울특별시 용산구 대사관로5길 10-5, 1층 (한남동)"
3,마린박스,영업,일식,"서울특별시 용산구 한강대로 95, 지하1층 B154호 (한강로2가, 래미안용산 더 ..."
4,본죽동부이촌동점,영업,한식,"서울특별시 용산구 이촌로 182, 기업은행 1층 115호 (이촌동)"
...,...,...,...,...
14146,정양집 광화문점,영업,중국식,"서울특별시 종로구 종로5길 7, Tower 8 1층 102,103,104,105호 ..."
14147,창경궁 초밥,영업,일식,"서울특별시 종로구 창경궁로 229, 한성빌딩 1층 (명륜4가)"
14148,굽네치킨 종각역점,영업,호프/통닭,"서울특별시 종로구 종로14길 11, 1, 2층 (관철동)"
14149,광화문 미진,영업,한식,"서울특별시 종로구 종로 19 (종로1가,르메이에르 종로타운 지상1층116-2호, 1..."
14150,북경반점,영업,중국식,서울특별시 종로구 명륜길 31 (명륜3가)

In [44]:
# 8(성북구 + 강북구 + 도봉구 + 노원구)
sb = df[df['도로명주소'].str.contains('성북구')]
gb = df[df['도로명주소'].str.contains('강북구')]
db = df[df['도로명주소'].str.contains('도봉구')]
nw = df[df['도로명주소'].str.contains('노원구')]

sb_gb_db_nw = pd.concat([sb, gb, db, nw])
sb_gb_db_nw.reset_index(drop=True, inplace=True)
sb_gb_db_nw

,사업장명,상세영업상태명,업태구분명,도로명주소
0,별관,영업,한식,"서울특별시 성북구 동소문로24길 31, 지하1층 (동선동1가)"
1,한성돼,영업,식육(숯불구이),"서울특별시 성북구 동소문로2길 63, 1층 (동소문동2가)"
2,소담유부,영업,일식,"서울특별시 성북구 화랑로13길 28, 1층 (하월곡동)"
3,오육 석관점,영업,한식,"서울특별시 성북구 한천로71길 13-5, 1층 (석관동)"
4,영앤리치푸드,영업,한식,"서울특별시 성북구 성북로4길 52, 제411동 제1층 3101호 (돈암동, 한신한진..."
...,...,...,...,...
10933,마루호프,영업,호프/통닭,"서울특별시 노원구 상계로1길 62-34, 상수장로교회 지상1층 일부호 (상계동)"
10934,미학맥주-맛을 공부하는 녀석들,영업,패스트푸드,서울특별시 노원구 노해로85길 18 (상계동)
10935,신연마라탕,영업,중국식,"서울특별시 노원구 광운로7길 2, 2층 (월계동)"
10936,코코윙,영업,호프/통닭,"서울특별시 노원구 한글비석로 264, 102호 (중계동,그랜드)"
10937,DNJ,영업,중국식,"서울특별시 노원구 노원로 244, 보스턴 산부인과 1층 (하계동)"

In [45]:
# 9(광진구 + 성동구 + 동대문구 + 중랑구)
gj = df[df['도로명주소'].str.contains('광진구')]
sd = df[df['도로명주소'].str.contains('성동구')]
ddm = df[df['도로명주소'].str.contains('동대문구')]
jr = df[df['도로명주소'].str.contains('중랑구')]

gj_sd_ddm_jr = pd.concat([gj, sd, ddm, jr])
gj_sd_ddm_jr.reset_index(drop=True, inplace=True)
gj_sd_ddm_jr

,사업장명,상세영업상태명,업태구분명,도로명주소
0,태화당.,영업,한식,"서울특별시 광진구 아차산로51길 98, 2층 (구의동)"
1,화양회관,영업,한식,"서울특별시 광진구 동일로 146, 1층 (화양동)"
2,더꼬치다(구의점),영업,한식,"서울특별시 광진구 아차산로65길 11, 1층 (구의동)"
3,한식의품격 광진점,영업,한식,"서울특별시 광진구 능동로 172, 빌리브 인테라스 2층 204호 (화양동)"
4,모미모미 건대스타시티점,영업,일식,"서울특별시 광진구 능동로 92 (자양동, 롯데백화점건대스타시티점 지하1층 델리코너)"
...,...,...,...,...
13238,펑키타운,영업,호프/통닭,서울특별시 중랑구 봉우재로 192 (망우동)
13239,더(THE)바다마켓면목점,영업,호프/통닭,서울특별시 중랑구 겸재로 212 (면목동)
13240,홍가네소머리국밥,영업,한식,"서울특별시 중랑구 상봉로11길 37 (면목동, 1층)"
13241,화란,영업,한식,"서울특별시 중랑구 용마산로 373, 1층 (면목동)"
13242,소주관,영업,일식,"서울특별시 중랑구 봉우재로43길 4, 1층 (상봉동)"

In [47]:
df.to_csv('./res_list.csv')
gs_yc.to_csv('./1.csv')
ydp_gr_gc.to_csv('./2.csv')
dj_gw.to_csv('./3.csv')
sc_gn.to_csv('./4.csv')
sp_gd.to_csv('./5.csv')
mp_sdm_yp.to_csv('./6.csv')
ys_j_jr.to_csv('./7.csv')
sb_gb_db_nw.to_csv('./8.csv')
gj_sd_ddm_jr.to_csv('./9.csv')