In [136]:
import pandas as pd

In [ ]:

df = pd.read_csv('./서울시 일반음식점 인허가 정보.csv')
new_df = df[['사업장명','상세영업상태명', '업태구분명','지번주소', '도로명주소']]

## 결측치 제거

### '상세영업상태명'

In [139]:
new_df[new_df.상세영업상태명.isnull()]

Empty DataFrame
Columns: [사업장명, 상세영업상태명, 업태구분명, 지번주소, 도로명주소]
Index: []

In [140]:
# 폐업한 사업장 행 제거
idx = new_df[new_df['상세영업상태명'] == '폐업'].index
new_df.drop(idx, inplace=True)
new_df

/var/folders/7k/h90v2bm11dn7f71xrf48t7xw0000gn/T/ipykernel_53912/502538395.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(idx, inplace=True)

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소
0,매취랑 동대문점,영업,한식,서울특별시 중구 을지로6가 18-137,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)"
1,BLUE BOX(블루박스),영업,기타,서울특별시 노원구 공릉동 334-3,서울특별시 노원구 공릉로 127 (공릉동)
2,치카바,영업,일식,서울특별시 송파구 가락동 84-6,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)"
3,오고보,영업,경양식,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)"
4,또봉이통닭 가락본동점,영업,호프/통닭,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)"
...,...,...,...,...,...
510846,별달맛집,영업,한식,서울특별시 강남구 신사동 609-1 지하1층,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)"
510847,메가엠지씨커피 신용산역점,영업,기타,서울특별시 용산구 한강로2가 116-1 1층,"서울특별시 용산구 한강대로 130-3, 1층 (한강로2가)"
510851,LA스시2me,영업,기타,서울특별시 동대문구 이문동 316-2 지하1층,"서울특별시 동대문구 휘경로2길 19, 지하1층 (이문동)"
510852,북경반점,영업,중국식,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가)
510853,진도식당,영업,한식,서울특별시 강동구 천호동 456-3,서울특별시 강동구 천호대로151길 14-6 (천호동)

### '업태구분명'

In [141]:
new_df[new_df.업태구분명.isnull()]

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소
44310,을지로 골뱅이,영업,NaN,서울특별시 종로구 관수동 3-3번지,서울특별시 종로구 삼일대로20길 17 (관수동)
48530,고희케이터링 협동조합,영업,NaN,서울특별시 종로구 창성동 100번지 (1층),"서울특별시 종로구 자하문로12길 17 (창성동,(1층))"
185880,인디언소울,영업,NaN,서울특별시 도봉구 도봉동 293-2번지 지상1층,"서울특별시 도봉구 도봉산길 12-15, 지상1층 (도봉동)"
258266,대독장 교대점,영업,NaN,서울특별시 서초구 서초동 1572-9 지상 2층,"서울특별시 서초구 반포대로30길 69, 지상 2층 (서초동)"
508380,불닭발땡초동대문엽기떡볶이대치점,영업,NaN,서울특별시 강남구 대치동 908-2,"서울특별시 강남구 역삼로 406, 지상1층 106호 (대치동)"

In [142]:
# nan값 제거
new_df = new_df.dropna(subset=['업태구분명'], how='any', axis=0)

In [143]:
# 특정 업태 행 제거
li = ['기타', '기타 휴게음식점', '까페', '다방', '룸살롱', '이동조리', '전통찻집', '출장조리', '커피숍', '키즈카페', '라이브카페', '감성주점', '정종/대포집/소주방', '뷔페식']
new_df.drop(new_df[new_df['업태구분명'].isin(li)].index, inplace=True)
# new_df

/var/folders/7k/h90v2bm11dn7f71xrf48t7xw0000gn/T/ipykernel_53912/2747696086.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(new_df[new_df['업태구분명'].isin(li)].index, inplace=True)

In [144]:
new_df.업태구분명.unique()

array(['한식', '일식', '경양식', '호프/통닭', '탕류(보신용)', '중국식', '외국음식전문점(인도,태국등)',
       '식육(숯불구이)', '분식', '김밥(도시락)', '횟집', '패밀리레스트랑', '통닭(치킨)', '냉면집',
       '패스트푸드', '복어취급'], dtype=object)

### '사업장명'

In [145]:
new_df[new_df.사업장명.isnull()]

Empty DataFrame
Columns: [사업장명, 상세영업상태명, 업태구분명, 지번주소, 도로명주소]
Index: []

In [146]:
# nan값 있는 행 제거
new_df = new_df.dropna(subset=['사업장명'], how='any', axis=0)

In [147]:
idx = new_df[new_df['사업장명'].str.contains('위원회')].index
new_df.drop(idx, inplace=True)
# new_df

### '도로명주소', '지번주소'

In [148]:
new_df[new_df['도로명주소'].isnull()]

           사업장명 상세영업상태명     업태구분명                                   지번주소 도로명주소
219         동순루      영업       중국식                    서울특별시 성동구 하왕십리동 992   NaN
590         동대문      영업        한식                   서울특별시 종로구 종로5가 2-1,3   NaN
635       품 청국장      영업        분식                서울특별시 종로구 명륜3가 1-209번지    NaN
837        마로니에      영업        한식                 서울특별시 종로구 관수동 155-6번지    NaN
856       박물관매점      영업        분식                  서울특별시 종로구 세종로 1-57번지    NaN
...         ...     ...       ...                                    ...   ...
509695     커피미학      영업       경양식  서울특별시 중구 소공동 1 외6필지 롯데호텔및백화점신관(지상12층)   NaN
509710     금덕식당      영업        한식                  서울특별시 중구 순화동 198-0 1층   NaN
510318       다온      영업       중국식            서울특별시 성동구 홍익동 122-10 (지상1층)   NaN
510341  숯불과 닭갈비      영업  식육(숯불구이)                 서울특별시 성북구 석관동 183-4 ,5   NaN
510559     삼대냉면      영업        한식               서울특별시 성동구 마장동 793-1 지상1층   NaN

[1075 rows x 5 columns]

In [149]:
# 도로명주소의 결측치는 지번주소로 대치
new_df['도로명주소'].fillna(new_df['지번주소'], inplace=True)

In [150]:
idx = new_df[new_df['도로명주소'].str.contains('경기도')].index
new_df.drop(idx, inplace=True)
new_df

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소
0,매취랑 동대문점,영업,한식,서울특별시 중구 을지로6가 18-137,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)"
2,치카바,영업,일식,서울특별시 송파구 가락동 84-6,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)"
3,오고보,영업,경양식,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)"
4,또봉이통닭 가락본동점,영업,호프/통닭,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)"
5,양이야기,영업,탕류(보신용),서울특별시 송파구 문정동 644 문정현대지식산업센터1-1,"서울특별시 송파구 법원로11길 11, 문정현대지식산업센터1-1 B동 1층 152호 ..."
...,...,...,...,...,...
510839,불닭발땡초동대문엽기떡볶이쌍문역점,영업,한식,서울특별시 도봉구 창동 659-19,"서울특별시 도봉구 도봉로118길 6, 1층 (창동)"
510844,DNJ,영업,중국식,서울특별시 노원구 하계동 256-11 보스턴 산부인과,"서울특별시 노원구 노원로 244, 보스턴 산부인과 1층 (하계동)"
510846,별달맛집,영업,한식,서울특별시 강남구 신사동 609-1 지하1층,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)"
510852,북경반점,영업,중국식,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가)
510853,진도식당,영업,한식,서울특별시 강동구 천호동 456-3,서울특별시 강동구 천호대로151길 14-6 (천호동)

# 크롤링용 CSV

In [152]:
import pandas as pd

In [161]:
df = new_df
df.reset_index(drop=True, inplace=True)
df

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소
0,매취랑 동대문점,영업,한식,서울특별시 중구 을지로6가 18-137,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)"
1,치카바,영업,일식,서울특별시 송파구 가락동 84-6,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)"
2,오고보,영업,경양식,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)"
3,또봉이통닭 가락본동점,영업,호프/통닭,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)"
4,양이야기,영업,탕류(보신용),서울특별시 송파구 문정동 644 문정현대지식산업센터1-1,"서울특별시 송파구 법원로11길 11, 문정현대지식산업센터1-1 B동 1층 152호 ..."
...,...,...,...,...,...
98804,불닭발땡초동대문엽기떡볶이쌍문역점,영업,한식,서울특별시 도봉구 창동 659-19,"서울특별시 도봉구 도봉로118길 6, 1층 (창동)"
98805,DNJ,영업,중국식,서울특별시 노원구 하계동 256-11 보스턴 산부인과,"서울특별시 노원구 노원로 244, 보스턴 산부인과 1층 (하계동)"
98806,별달맛집,영업,한식,서울특별시 강남구 신사동 609-1 지하1층,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)"
98807,북경반점,영업,중국식,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가)
98808,진도식당,영업,한식,서울특별시 강동구 천호동 456-3,서울특별시 강동구 천호대로151길 14-6 (천호동)

### 중복 사업장명 제거

In [154]:
df['사업장명']
df['delete'] = df.사업장명.str.split(' ').str[0]
df

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소,delete
0,매취랑 동대문점,영업,한식,서울특별시 중구 을지로6가 18-137,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)",매취랑
1,치카바,영업,일식,서울특별시 송파구 가락동 84-6,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)",치카바
2,오고보,영업,경양식,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)",오고보
3,또봉이통닭 가락본동점,영업,호프/통닭,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)",또봉이통닭
4,양이야기,영업,탕류(보신용),서울특별시 송파구 문정동 644 문정현대지식산업센터1-1,"서울특별시 송파구 법원로11길 11, 문정현대지식산업센터1-1 B동 1층 152호 ...",양이야기
...,...,...,...,...,...,...
98804,불닭발땡초동대문엽기떡볶이쌍문역점,영업,한식,서울특별시 도봉구 창동 659-19,"서울특별시 도봉구 도봉로118길 6, 1층 (창동)",불닭발땡초동대문엽기떡볶이쌍문역점
98805,DNJ,영업,중국식,서울특별시 노원구 하계동 256-11 보스턴 산부인과,"서울특별시 노원구 노원로 244, 보스턴 산부인과 1층 (하계동)",DNJ
98806,별달맛집,영업,한식,서울특별시 강남구 신사동 609-1 지하1층,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)",별달맛집
98807,북경반점,영업,중국식,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가),북경반점
98808,진도식당,영업,한식,서울특별시 강동구 천호동 456-3,서울특별시 강동구 천호대로151길 14-6 (천호동),진도식당

In [156]:
# pd.set_option('display.max_seq_items', None)

In [160]:
de_li = ['라밥(LABAB)', '풍년갈비', '진수성찬', '곱도리탕', '청담동마녀김밥', '써니', '만선호프', '정성한줄','카츠젠', '제이제이', '델리커리', '항아리', '고기로', '한사바리', '산쪼메', '봉피양','본설렁탕', '또와', '옛날칼국수', '현방오백소갈비살', '청솔식당', '육회왕자','이선생', '미향', '딱좋아', '남원정통추어탕', '데일리', '만복식당','엠브로돈까스', '막창굽는', '만족오향족발', '달떡볶이', '쏘시지요','옛고을', '박리분식', '더드림', '미스터피자', '돼지게티', '곱창의', '혼밥대왕','오븐에빠진닭', '친구네', '쉼', '처음처럼', '바지락칼국수', '또와분식', '라온','엄마손칼국수', '양지식당', '옛집', '구름산추어탕', '짚신매운갈비찜', '잭슨피자', '목포세발낙지','the', '칸꼬시', '오부장치킨', '통큰', '리김밥', '빅스타피자', '투썸플레이스', '레드', '추억의','두꺼비식당', '몬스터포', '개성손만두', '해남식당', '브라운', '목포홍탁', '개미식당', '베트남쌀국수', '블루','틈새라면', '할머니', '돈', '한옥마을', '카츠와이찌', '두번먹는명인김치찜', '남원식당', '포케올데이','북경반점', '본', '맛있는집', '다락방', '락궁', '백스비어', '태능숯불갈비', '제육대가', '도야짬뽕','밥도둑', '설맥', '강릉엄지네꼬막집', '성북동', '양가네', '소반', '멘부리', '도화','홍두깨칼국수', '훌랄라', '찌마기', '오렌지', '김삼보', '오가네', '올리브', '일만족발', '모두랑','전주가', '시올돈', '원', '골목길', '응급실', '양푼이', '깡우동', '삼대냉면', '강남식당', '풍천민물장어','더맛있는족발보쌈', '정돈', '은행나무집', '쭈꾸미', '할머니가래떡볶이', '깡돈','(주)캘리스코', '라와마라탕', '봉평메밀막국수', '더진국', '장수', '삼시세끼', '엄마손김밥', '신선설농탕','역전할머니', '돈까스짱', '육갑식당', '배부장찌개', '최고집', '윤식당', '이나닭강정', '브루클린', '헬키푸키','오한수우육면가', '담솥', '금강산', '해피데이', '박리김밥', '상록수', '짝태앤노가리', '디오니스', '고피자','탐나종합어시장', '을밀대', '서초', '장터순대국', '교동바사삭', '낙원', '우리분식', '멕시카나치킨', '서가네','싸움의', '장터', '스텔라떡볶이', '라홍방마라탕', '차알', '풍년상회', '고흥식당', '달빛', '꼬꼬스토리','호프광장', '흥부네', '옛날순대국', '미도인', '내고향', '도원', '유메오뎅', '꾸브라꼬', '스쿨푸드','만다린', '속초오징어어시장', '쌍둥이네', '순희네', '누나홀닭', '코끼리', '함지박', '하우돈곱창', '미소식당','레코드피자', '연희김밥', '소문난집', '누구나홀딱반한닭', '무교동낙지', '펀', '리파인', '우이락', '달','참이맛감자탕', '홍수계찜닭', '따띠삼겹', '인생닭강정', '황가네', '일미식당', '포차천국', '민들레', '옥소반','향원', '종가집', '큰집닭강정', '만복국수', '명동분식', '윤이불닭발', '청기와', '이태리', '행운식당','옛날짜장', '대박식당', '장가네', '북촌', '그램치킨', '예원', '이태원', '고돼지', '초이다이닝', '동경','대관령', '와우', '원두막', '수정', '콘서트', '왕돈까스&왕냉면', '순이네', '바스버거', '신당동','도래곱창', '한양식당', '북창동', '치어스', '현대옥', '모퉁이', '친구야', '목포집', '원조부안집','송주불냉면', '고래맥주창고', '본스치킨', '고바우', '리윤', '정담초밥', '짝태&노가리', '청록미나리식당','소나무', '(주)썬앳푸드', '한옥집', '샹츠마라', '골목포차', '신참떡볶이', '미태리', '서울김밥','파스타예요', '교동전선생', '한사발포차', '왕짜장', '제이', '진대감', '서초동연가','황금', '청년고기장수', '만나식당', '충무로', '와이디푸드', '순천식당', '오복식당', '아리랑','형제식당', '포', '레스토랑', '닭한마리', '국민낙곱새', '유가네닭갈비', '노다지', '대가','부산아지매국밥', '남경', '토리키치', '청춘닭꼬치', '일일향', '갤러리', '홍짜장','낭만포차', '목포식당', '김둘레순대국', '하노이별', '동근이숯불두마리치킨', '대패상회', '홍대', '가츠몽','푸드카페', '두번먹는', '청담이상', '미미', '갯마을', '(주)보나비', '행복은간장밥', '종로곱창', '광수육회','롤링파스타', '중화요리', '호랑이', '풍년', '참새방앗간', '순살만공격', '감나무집', '33떡볶이', '명품','그린호프', '교동짬뽕', '유미카츠', '교동찜닭', '맛고을', '짬뽕지존', '뭉텅', '장독대', '만리향','지랄닭발', '이화수', '화로상회', '1번지통닭', '양산도', '청춘포차', '호남집', '스카이','삼삼뼈국', '컴포즈커피', '다미', '오늘의', '도담', '응급실국물떡볶이', '홍두깨', '콘타이', '대도식당','또바기', '마라영웅', '미스타교자', '후라토식당', '원조감자탕', '외길곱창', '영광식당', '미각', '경복궁','정원', '지코바치킨', '마케집', '갱상도', '동촌', '착한', '경아식당', '맛나분식', '신토불이','의정부부대찌개', '장군주먹고기', '송추가마골', '다이닝', '백암왕순대', '낙원식당', '다락', '피자나라','강남교자', '장수촌', '이모네포차', '경성양꼬치', '더(The)','이태리부대찌개', '한국피자헛', '토담골', '브라운돈까스', '호시타코야끼', '완미족발', '족발야시장','(주)엠에프지코리아', '푸드', '소소떡볶이', '남원골추어탕', '니뽕내뽕', '오공김밥', '김밥마을','집밥', '차이나', '고기극찬', '우정', '한우리', '맛나식당', '익선동', '장원','차이(Chai)797', '두레통닭', '담미온', '도미노피자', '순딜리버리', '달래해장', '종로계림닭도리탕원조','명성왕족발', '오아시스', '수유리우동집', '한신포차', '용호동낙지', '옛날농장', '사계절', '뚱이네','미가', '하루엔소쿠', '이화', '윤가네', '명태어장', '행복한밥상', '부엉이산장', '다모아','초가집', '모두의죽', '화포식당', '버거리', '서오릉피자', '명인만두', '새벽집', '뚝배기', '전주콩나물국밥','은혜식당', '새마을식당', '청춘', '고향', '숙성회136', '송가네', '담소', '빽보이피자', '피자마루','이모네식당', '어사출또', '두꺼비', '원할머니보쌈족발', '마포', '세광양대창', '대청마루', '일품양평해장국','옛날집', '바르다', '심야식당', '신가네', '대성식당', '이남장', '봉구스밥버거', '인사동','육칠이', '청기와타운', '오븐마루', '코코이찌방야', '뜨락', '진', '이디야', '곱분이곱창', '마산아구찜','스마일', '피자알볼로', '계림원', '구구족', '두끼', '토리아에즈', '미스터', '자금성', '삼형제김밥','부산어묵', '노가리', '동래정', '바다', '황소곱창', '써브웨이', '풍천장어','북창동순두부', '김밥사랑', '피자나라치킨공주', '육수당', '엄마손식당', '미소', '원할머니보쌈', '다원','부뚜막', '바르다김선생', '숙이네', '해바라기', '마실', '치킨매니아', '오스테리아', '솔솥','삼산회관', '다온', '행복식당', '백채', '미아리우동집', '홍가네', 'BHC치킨', '남도', '이삭토스트','마루', '상상오리', '동남집', '육회', '마포갈비', '엄마밥상', '록갈비', '미스사이공', '현대식당','153구포국수', '오마카세', '30년', '시선', '킹콩부대찌개', '지리산', '또봉이', '화락바베큐치킨','호식이', '크라운호프', '만리장성', '육대장', '원당감자탕', '치킨주막', '또봉이통닭', '포메인', '고씨네','공릉동', '여의도', '진미', '청년치킨', '수', '빽다방', '큰맘할매순대국', '초원', '놀부부대찌개','우정식당', '종로김밥', '대한냉면', '소림마라', '미락', '동궁찜닭', '양자강', '파스타','돈까스', '인생아구찜', '노모어피자', '유가네', '라화쿵부', '옥이네', '아라치', '보배반점','제일식당', '제주은희네해장국', '라사천마라탕', '골목식당', '반포식스', '소문난순대국', '불닭발땡초동대문엽기떡볶이','토담', '춘리(CHUN-LI)', '토크쇼', '왕십리', '마왕족발', '용용선생', '중국관', '비에이치씨(BHC)','(유)아웃백스테이크하우스코리아', '기영이', '처갓집', '마포숯불갈비', '본죽앤비빔밥', '피자헛', '나주곰탕','후라이드참잘하는집', '마장동고기집', '춘천닭갈비', '삼첩분식', '멕시칸치킨', '샤브로21', '광주식당', '소담촌','은행골', '순대실록', '지호한방삼계탕', '핵밥', '죠스떡볶이', '사랑채', '팔각도', '대박', '한국통닭','비비큐치킨', '식껍', '병천순대', '사랑방', '인쌩맥주', '목구멍', '한촌설렁탕','엉터리생고기', '탕화쿵푸마라탕', '라무진', '풍년식당', '육쌈냉면', '토마토김밥', '북경', '가마솥','최가네', '후라이드', '긴자료코', '일품', '한신우동', '양평해장국', '피자스쿨', '풍년집', '대박집','본가', '소풍', '자매식당', '장수식당', '오늘도', '명동찌개마을', '치킨마루', '부어치킨', '불타는','마라공방', '중국성', '가장맛있는족발', '맥주창고', '동경규동', '남도식당', '비스트로','탕화쿵푸', '치킨뱅이', '명가통닭', '가마로강정', '박가네', '미소야', '우리할매떡볶이', '미분당','백채김치찌개', '오토김밥', '김가네김밥', '김밥나라', '배떡', '슬로우캘리', '육전국밥', '불닭발','종로빈대떡', '춘리마라탕', '치킨플러스', '60계', '할매순대국', '홍콩반점', '고기싸롱', '오한수','길동우동', '열정국밥', '우리동네', '육회바른연어', '뜸들이다', '60계치킨', '보드람치킨', '동대문엽기떡볶이','역전우동0410', '을지로골뱅이', '채선당', '정가네', '죽이야기', '두마리찜닭', '소담','비에이치씨', '청진동해장국', '한솥', '비비큐(BBQ)', '오늘은', '하루', '옥된장', '청담', '얌샘김밥','동대문', '북촌손만두', '호치킨', '엄마손', '진미식당', '하남돼지집', '바른치킨','아비꼬', '전주집', '청년다방', '신의주', '멕시카나', '또래오래', '보승회관','야키토리', '서울식당', '생마차', '신전떡볶이', 'The', '압구정', '옛날통닭', '국수나무', '골목집','시골집', '봉추찜닭', '철길부산집', '둘둘치킨', '아지트', '금별맥주', '봉구비어', '고향식당','신의주찹쌀순대', '맛닭꼬', '귀한족발', '명가', '두찜', '고향집', '메가엠지씨커피', '홍콩반점0410','우리식당', '썬더치킨', '호식이두마리치킨', '프랭크버거', 'BBQ', '이가네', '호남식당', '우리집','시골밥상', '페리카나치킨', '오봉집', '펀비어킹', '한솥도시락', '맘스터치', '싸다김밥','지코바', '본도시락', '백소정', '가마치통닭', 'BHC', '노랑통닭', '명륜진사갈비','페리카나', '명동칼국수', '이모네', '자담치킨', '등촌샤브칼국수', '키친스탠다드', '깐부치킨','네네치킨', '남원추어탕', '생활맥주', '본죽&비빔밥', '푸라닭', '본죽', '처갓집양념치킨', '김가네','역전할머니맥주', '투다리', '굽네치킨', '카페', '비비큐', '전주식당', '교촌치킨', '김밥천국','주식회사']

for nm in de_li:
    idx = df[df['사업장명'].str.contains(nm)].index
    df.drop(idx, inplace=True)

/var/folders/7k/h90v2bm11dn7f71xrf48t7xw0000gn/T/ipykernel_53912/3635910342.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  idx = df[df['사업장명'].str.contains(nm)].index

In [164]:
df = df[['사업장명','상세영업상태명', '업태구분명','도로명주소']]

# 통합구로 데이터셋 분리

In [112]:
# 1(강서구 + 양천구)
gs = df[df['도로명주소'].str.contains('강서구')]
yc = df[df['도로명주소'].str.contains('양천구')]

gs_yc = pd.concat([gs, yc])
gs_yc.reset_index(drop=True, inplace=True)

# 2(영등포구 + 구로구 + 금천구)
ydp = df[df['도로명주소'].str.contains('영등포구')]
gr = df[df['도로명주소'].str.contains('구로구')]
gc = df[df['도로명주소'].str.contains('금천구')]

ydp_gr_gc = pd.concat([ydp, gr, gc])
ydp_gr_gc.reset_index(drop=True, inplace=True)

# 3(동작구 + 관악구)
dj = df[df['도로명주소'].str.contains('동작구')]
gw = df[df['도로명주소'].str.contains('관악구')]

dj_gw = pd.concat([dj, gw])
dj_gw.reset_index(drop=True, inplace=True)

# 4(서초구 + 강남구)
sc = df[df['도로명주소'].str.contains('서초구')]
gn = df[df['도로명주소'].str.contains('강남구')]

sc_gn = pd.concat([sc, gn])
sc_gn.reset_index(drop=True, inplace=True)


# 5(송파구 + 강동구)
sp = df[df['도로명주소'].str.contains('송파구')]
gd = df[df['도로명주소'].str.contains('강동구')]

sp_gd = pd.concat([sp, gd])
sp_gd.reset_index(drop=True, inplace=True)


# 6(마포구 + 서대문구 + 은평구)
mp = df[df['도로명주소'].str.contains('마포구')]
sdm = df[df['도로명주소'].str.contains('서대문구')]
yp = df[df['도로명주소'].str.contains('은평구')]

mp_sdm_yp = pd.concat([mp, sdm, yp])
mp_sdm_yp.reset_index(drop=True, inplace=True)

# 7(용산구 + 중구 + 종로구)
ys = df[df['도로명주소'].str.contains('용산')]
j = df[df['도로명주소'].str.contains('중구')]
jr = df[df['도로명주소'].str.contains('종로구')]

ys_j_jr = pd.concat([ys, j, jr])
ys_j_jr.reset_index(drop=True, inplace=True)

# 8(성북구 + 강북구 + 도봉구 + 노원구)
sb = df[df['도로명주소'].str.contains('성북구')]
gb = df[df['도로명주소'].str.contains('강북구')]
db = df[df['도로명주소'].str.contains('도봉구')]
nw = df[df['도로명주소'].str.contains('노원구')]

sb_gb_db_nw = pd.concat([sb, gb, db, nw])
sb_gb_db_nw.reset_index(drop=True, inplace=True)

# 9(광진구 + 성동구 + 동대문구 + 중랑구)
gj = df[df['도로명주소'].str.contains('광진구')]
sd = df[df['도로명주소'].str.contains('성동구')]
ddm = df[df['도로명주소'].str.contains('동대문구')]
jr = df[df['도로명주소'].str.contains('중랑구')]

gj_sd_ddm_jr = pd.concat([gj, sd, ddm, jr])
gj_sd_ddm_jr.reset_index(drop=True, inplace=True)

,사업장명,상세영업상태명,업태구분명,도로명주소
0,봉구스 밥버거,영업,한식,"서울특별시 강서구 등촌로51길 9, 1층 (등촌동)"
1,모루야,영업,일식,"서울특별시 강서구 공항대로 194, 문영 퀸즈파크12차 1층 111호 (마곡동)"
2,부대냉삼 이백집,영업,한식,"서울특별시 강서구 공항대로 200, 마곡지웰타워 1층 114,115호 (마곡동)"
3,알촌 마곡점,영업,한식,"서울특별시 강서구 수명로 68-35, 웨스트엔드중정 1층 106호 (내발산동)"
4,냉철한삼겹 화곡동점,영업,한식,"서울특별시 강서구 강서로5나길 115, 1층 (화곡동)"
...,...,...,...,...
4576,아뵤오반점,영업,중국식,"서울특별시 양천구 목동동로 309, 중소기업유통센터(행복한백화점 킴스클럽내) 지하1..."
4577,라밥 목동중앙점,영업,분식,"서울특별시 양천구 목동서로 285, 황금프라자 지상1층 106호 (신정동)"
4578,섬어부밥상,영업,한식,"서울특별시 양천구 신정중앙로 85, 로데오프라자 2층 204~205호 (신정동)"
4579,옥천집,영업,한식,"서울특별시 양천구 목동로21길 4, 1층 (신정동)"
4580,상도연탄갈비,영업,식육(숯불구이),"서울특별시 양천구 신목로 100-2, 1~2층 (목동)"

### 강남구 분리

In [ ]:
gn = df[df['도로명주소'].str.contains('강남구')]
gn.reset_index(drop=True, inplace=True)

In [ ]:
gn.to_csv('./강남구_식당.csv')