In [1]:
import pandas as pd

In [4]:

df = pd.read_csv('./서울시 일반음식점 인허가 정보.csv')
df

/var/folders/7k/h90v2bm11dn7f71xrf48t7xw0000gn/T/ipykernel_11830/2771654845.py:1: DtypeWarning: Columns (2,8,13,14,25,28,29,30,36,39,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./서울시 일반음식점 인허가 정보.csv')

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,3010000,3010000-101-2023-00540,2023.11.3,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3100000,3100000-101-2024-00302,2024.8.2,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3230000,3230000-101-2023-00343,2023.5.12,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3230000,3230000-101-2023-00220,2023.3.31,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3230000,3230000-101-2023-00222,2023.3.31,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510849,3120000,3120000-101-2001-05311,20010915,NaN,3,폐업,2,폐업,20220513,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
510850,3150000,3150000-101-2020-00383,20200706,NaN,3,폐업,2,폐업,20220514,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
510851,3050000,3050000-101-2001-12875,2001.7.16,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
510852,3000000,3000000-101-1995-02420,1995.6.23,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
510853,3240000,3240000-101-2004-00589,2004.11.9,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
new_df = df[['사업장명','상세영업상태명', '업태구분명','지번주소', '도로명주소']]
new_df

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소
0,매취랑 동대문점,영업,한식,서울특별시 중구 을지로6가 18-137,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)"
1,BLUE BOX(블루박스),영업,기타,서울특별시 노원구 공릉동 334-3,서울특별시 노원구 공릉로 127 (공릉동)
2,치카바,영업,일식,서울특별시 송파구 가락동 84-6,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)"
3,오고보,영업,경양식,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)"
4,또봉이통닭 가락본동점,영업,호프/통닭,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)"
...,...,...,...,...,...
510849,면가요시,폐업,한식,서울특별시 서대문구 창천동 2-19 (지상1층),"서울특별시 서대문구 연세로12길 28 (창천동,(지상1층))"
510850,대식대 소룡포자,폐업,중국식,서울특별시 강서구 마곡동 793-9 플레이스에이치(지상 1층) 107호,"서울특별시 강서구 강서로 395, 플레이스에이치 1층 107호 (마곡동)"
510851,LA스시2me,영업,기타,서울특별시 동대문구 이문동 316-2 지하1층,"서울특별시 동대문구 휘경로2길 19, 지하1층 (이문동)"
510852,북경반점,영업,중국식,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가)
510853,진도식당,영업,한식,서울특별시 강동구 천호동 456-3,서울특별시 강동구 천호대로151길 14-6 (천호동)

## 결측치 제거

### '상세영업상태명'

In [100]:
new_df[new_df.상세영업상태명.isnull()]

Empty DataFrame
Columns: [사업장명, 상세영업상태명, 업태구분명, 지번주소, 도로명주소]
Index: []

In [101]:
# 폐업한 사업장 행 제거
idx = new_df[new_df['상세영업상태명'] == '폐업'].index
new_df.drop(idx, inplace=True)
new_df

/var/folders/7k/h90v2bm11dn7f71xrf48t7xw0000gn/T/ipykernel_11830/502538395.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(idx, inplace=True)

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소
0,매취랑 동대문점,영업,한식,서울특별시 중구 을지로6가 18-137,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)"
1,BLUE BOX(블루박스),영업,기타,서울특별시 노원구 공릉동 334-3,서울특별시 노원구 공릉로 127 (공릉동)
2,치카바,영업,일식,서울특별시 송파구 가락동 84-6,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)"
3,오고보,영업,경양식,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)"
4,또봉이통닭 가락본동점,영업,호프/통닭,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)"
...,...,...,...,...,...
510846,별달맛집,영업,한식,서울특별시 강남구 신사동 609-1 지하1층,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)"
510847,메가엠지씨커피 신용산역점,영업,기타,서울특별시 용산구 한강로2가 116-1 1층,"서울특별시 용산구 한강대로 130-3, 1층 (한강로2가)"
510851,LA스시2me,영업,기타,서울특별시 동대문구 이문동 316-2 지하1층,"서울특별시 동대문구 휘경로2길 19, 지하1층 (이문동)"
510852,북경반점,영업,중국식,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가)
510853,진도식당,영업,한식,서울특별시 강동구 천호동 456-3,서울특별시 강동구 천호대로151길 14-6 (천호동)

### '업태구분명'

In [104]:
new_df[new_df.업태구분명.isnull()]

Empty DataFrame
Columns: [사업장명, 상세영업상태명, 업태구분명, 지번주소, 도로명주소]
Index: []

In [103]:
# nan값 제거
new_df = new_df.dropna(subset=['업태구분명'], how='any', axis=0)

In [106]:
# 특정 업태 행 제거
li = ['기타', '기타 휴게음식점', '까페', '다방', '룸살롱', '이동조리', '전통찻집', '출장조리', '커피숍']
new_df.drop(new_df[new_df['업태구분명'].isin(li)].index, inplace=True)
new_df

/var/folders/7k/h90v2bm11dn7f71xrf48t7xw0000gn/T/ipykernel_11830/3687591443.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(new_df[new_df['업태구분명'].isin(li)].index, inplace=True)

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소
0,매취랑 동대문점,영업,한식,서울특별시 중구 을지로6가 18-137,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)"
2,치카바,영업,일식,서울특별시 송파구 가락동 84-6,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)"
3,오고보,영업,경양식,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)"
4,또봉이통닭 가락본동점,영업,호프/통닭,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)"
5,양이야기,영업,탕류(보신용),서울특별시 송파구 문정동 644 문정현대지식산업센터1-1,"서울특별시 송파구 법원로11길 11, 문정현대지식산업센터1-1 B동 1층 152호 ..."
...,...,...,...,...,...
510839,불닭발땡초동대문엽기떡볶이쌍문역점,영업,한식,서울특별시 도봉구 창동 659-19,"서울특별시 도봉구 도봉로118길 6, 1층 (창동)"
510844,DNJ,영업,중국식,서울특별시 노원구 하계동 256-11 보스턴 산부인과,"서울특별시 노원구 노원로 244, 보스턴 산부인과 1층 (하계동)"
510846,별달맛집,영업,한식,서울특별시 강남구 신사동 609-1 지하1층,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)"
510852,북경반점,영업,중국식,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가)
510853,진도식당,영업,한식,서울특별시 강동구 천호동 456-3,서울특별시 강동구 천호대로151길 14-6 (천호동)

In [108]:
new_df.업태구분명.unique()

array(['한식', '일식', '경양식', '호프/통닭', '탕류(보신용)', '중국식', '외국음식전문점(인도,태국등)',
       '식육(숯불구이)', '분식', '김밥(도시락)', '정종/대포집/소주방', '라이브카페', '횟집',
       '패밀리레스트랑', '뷔페식', '통닭(치킨)', '냉면집', '감성주점', '키즈카페', '패스트푸드', '복어취급'],
      dtype=object)

### '사업장명'

In [109]:
new_df[new_df.사업장명.isnull()]

Empty DataFrame
Columns: [사업장명, 상세영업상태명, 업태구분명, 지번주소, 도로명주소]
Index: []

In [90]:
# nan값 있는 행 제거
new_df = new_df.dropna(subset=['사업장명'], how='any', axis=0)

In [114]:
new_df[new_df['사업장명'].str.contains('위원회')]

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소
565,항동주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
566,고척2동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
567,개봉2동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
588,개봉3동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
3368,오류1동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
3385,구로1동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
6901,신도림동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
9648,고척1동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
9672,구로2동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
9675,수궁동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
14014,오류2동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
14763,가리봉동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
15918,구로3동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
19781,개봉1동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
33953,구로4동주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN
33954,구로5동 주민자치위원회,영업,한식,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN

In [120]:
idx = new_df[new_df['사업장명'].str.contains('위원회')].index
new_df.drop(idx, inplace=True)
new_df

/var/folders/7k/h90v2bm11dn7f71xrf48t7xw0000gn/T/ipykernel_11830/3819436989.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(idx, inplace=True)

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소
0,매취랑 동대문점,영업,한식,서울특별시 중구 을지로6가 18-137,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)"
2,치카바,영업,일식,서울특별시 송파구 가락동 84-6,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)"
3,오고보,영업,경양식,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)"
4,또봉이통닭 가락본동점,영업,호프/통닭,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)"
5,양이야기,영업,탕류(보신용),서울특별시 송파구 문정동 644 문정현대지식산업센터1-1,"서울특별시 송파구 법원로11길 11, 문정현대지식산업센터1-1 B동 1층 152호 ..."
...,...,...,...,...,...
510839,불닭발땡초동대문엽기떡볶이쌍문역점,영업,한식,서울특별시 도봉구 창동 659-19,"서울특별시 도봉구 도봉로118길 6, 1층 (창동)"
510844,DNJ,영업,중국식,서울특별시 노원구 하계동 256-11 보스턴 산부인과,"서울특별시 노원구 노원로 244, 보스턴 산부인과 1층 (하계동)"
510846,별달맛집,영업,한식,서울특별시 강남구 신사동 609-1 지하1층,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)"
510852,북경반점,영업,중국식,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가)
510853,진도식당,영업,한식,서울특별시 강동구 천호동 456-3,서울특별시 강동구 천호대로151길 14-6 (천호동)

### '도로명주소', '지번주소'

In [135]:
new_df[new_df['도로명주소'].isnull()]

Empty DataFrame
Columns: [사업장명, 상세영업상태명, 업태구분명, 지번주소, 도로명주소]
Index: []

In [134]:
# 도로명주소의 결측치는 지번주소로 대치
new_df['도로명주소'].fillna(new_df['지번주소'], inplace=True)
new_df

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소
219,동순루,영업,중국식,서울특별시 성동구 하왕십리동 992,서울특별시 성동구 하왕십리동 992
590,동대문,영업,한식,"서울특별시 종로구 종로5가 2-1,3","서울특별시 종로구 종로5가 2-1,3"
635,품 청국장,영업,분식,서울특별시 종로구 명륜3가 1-209번지,서울특별시 종로구 명륜3가 1-209번지
837,마로니에,영업,한식,서울특별시 종로구 관수동 155-6번지,서울특별시 종로구 관수동 155-6번지
856,박물관매점,영업,분식,서울특별시 종로구 세종로 1-57번지,서울특별시 종로구 세종로 1-57번지
...,...,...,...,...,...
509695,커피미학,영업,경양식,서울특별시 중구 소공동 1 외6필지 롯데호텔및백화점신관(지상12층),서울특별시 중구 소공동 1 외6필지 롯데호텔및백화점신관(지상12층)
509710,금덕식당,영업,한식,서울특별시 중구 순화동 198-0 1층,서울특별시 중구 순화동 198-0 1층
510318,다온,영업,중국식,서울특별시 성동구 홍익동 122-10 (지상1층),서울특별시 성동구 홍익동 122-10 (지상1층)
510341,숯불과 닭갈비,영업,식육(숯불구이),"서울특별시 성북구 석관동 183-4 ,5","서울특별시 성북구 석관동 183-4 ,5"
510559,삼대냉면,영업,한식,서울특별시 성동구 마장동 793-1 지상1층,서울특별시 성동구 마장동 793-1 지상1층

In [140]:
new_df[new_df['도로명주소'].str.contains('서울')]

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소
0,매취랑 동대문점,영업,한식,서울특별시 중구 을지로6가 18-137,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)"
2,치카바,영업,일식,서울특별시 송파구 가락동 84-6,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)"
3,오고보,영업,경양식,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)"
4,또봉이통닭 가락본동점,영업,호프/통닭,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)"
5,양이야기,영업,탕류(보신용),서울특별시 송파구 문정동 644 문정현대지식산업센터1-1,"서울특별시 송파구 법원로11길 11, 문정현대지식산업센터1-1 B동 1층 152호 ..."
...,...,...,...,...,...
510839,불닭발땡초동대문엽기떡볶이쌍문역점,영업,한식,서울특별시 도봉구 창동 659-19,"서울특별시 도봉구 도봉로118길 6, 1층 (창동)"
510844,DNJ,영업,중국식,서울특별시 노원구 하계동 256-11 보스턴 산부인과,"서울특별시 노원구 노원로 244, 보스턴 산부인과 1층 (하계동)"
510846,별달맛집,영업,한식,서울특별시 강남구 신사동 609-1 지하1층,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)"
510852,북경반점,영업,중국식,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가)
510853,진도식당,영업,한식,서울특별시 강동구 천호동 456-3,서울특별시 강동구 천호대로151길 14-6 (천호동)

In [139]:
idx = new_df[new_df['도로명주소'].str.contains('경기도')].index
new_df.drop(idx, inplace=True)
new_df

/var/folders/7k/h90v2bm11dn7f71xrf48t7xw0000gn/T/ipykernel_11830/3023337638.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(idx, inplace=True)

,사업장명,상세영업상태명,업태구분명,지번주소,도로명주소
0,매취랑 동대문점,영업,한식,서울특별시 중구 을지로6가 18-137,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)"
2,치카바,영업,일식,서울특별시 송파구 가락동 84-6,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)"
3,오고보,영업,경양식,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)"
4,또봉이통닭 가락본동점,영업,호프/통닭,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)"
5,양이야기,영업,탕류(보신용),서울특별시 송파구 문정동 644 문정현대지식산업센터1-1,"서울특별시 송파구 법원로11길 11, 문정현대지식산업센터1-1 B동 1층 152호 ..."
...,...,...,...,...,...
510839,불닭발땡초동대문엽기떡볶이쌍문역점,영업,한식,서울특별시 도봉구 창동 659-19,"서울특별시 도봉구 도봉로118길 6, 1층 (창동)"
510844,DNJ,영업,중국식,서울특별시 노원구 하계동 256-11 보스턴 산부인과,"서울특별시 노원구 노원로 244, 보스턴 산부인과 1층 (하계동)"
510846,별달맛집,영업,한식,서울특별시 강남구 신사동 609-1 지하1층,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)"
510852,북경반점,영업,중국식,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가)
510853,진도식당,영업,한식,서울특별시 강동구 천호동 456-3,서울특별시 강동구 천호대로151길 14-6 (천호동)

In [141]:
new_df.to_csv('./res_list.csv')