In [1]:
import pymysql

In [2]:
def get_connection():
return pymysql.connect(
    host=os.getenv('DB_HOST'),
    port=int(os.getenv('DB_PORT')),
    user=os.getenv('DB_USER'),
    password=os.getenv('DB_PASSWORD'),
    db=os.getenv('DB_NAME'),
    charset=os.getenv('DB_CHARSET'),
    cursorclass=pymysql.cursors.DictCursor
    )

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
df = pd.read_csv('../data/bizid_url_fin.csv')

In [5]:
df

,Unnamed: 0,ì‚¬ì—…ì¥ëª…,ìƒì„¸ì˜ì—…ìƒíƒœëª…,ì—…íƒœêµ¬ë¶„ëª…,ë„ë¡œëª…ì£¼ì†Œ,bizId,res_type,cidList,res_type_filter,url
0,0,í˜¸ì•™ë¹„ì—£ ê°•ë‚¨ì—­ì,ì˜ì—…,"ì™¸êµ­ìŒì‹ì „ë¬¸ì (ì¸ë„,íƒœêµ­ë“±)","ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ102ê¸¸ 31, ì§€ìƒ1ì¸µ 1í˜¸,2í˜¸ (ì—­ì‚¼ë™)",1268502925,ë² íŠ¸ë‚¨ìŒì‹,"[""220036"",""220041"",""220103""]",ì•„ì‹œì•ˆ,https://map.naver.com/p/entry/place/1268502925
1,1,ë°€íšŒê´€ ì—­ì‚¼ì,ì˜ì—…,ê²½ì–‘ì‹,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ í…Œí—¤ë€ë¡œ33ê¸¸ 18, ì„œìš¸ì² ê°•ë¹Œë”© ì§€ìƒ1ì¸µ (ì—­ì‚¼ë™)",1125100881,"ë§¥ì£¼,í˜¸í”„","[""220036"",""220051"",""220553"",""1003308""]",ìš”ë¦¬ì£¼ì,https://map.naver.com/p/entry/place/1125100881
2,2,ì •ë‹´ê°€ì˜¥,ì˜ì—…,í•œì‹,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë…¼í˜„ë¡œ149ê¸¸ 31, 1ë™ ì§€ìƒ1ì¸µ 101-1í˜¸ (ë…¼í˜„ë™)",1183086548,í•œì‹,"[""220036"",""220037"",""220053""]",í•œì‹,https://map.naver.com/p/entry/place/1183086548
3,3,ì•¼í‚¤ë„ë¦¬ ìˆ˜ë‹¤,ì˜ì—…,ì¼ì‹,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ í…Œí—¤ë€ë¡œ87ê¸¸ 57, ì§€í•˜1ì¸µ (ì‚¼ì„±ë™)",1285864260,ì´ìì¹´ì•¼,"[""220036"",""220051"",""220556"",""221121""]",ìš”ë¦¬ì£¼ì,https://map.naver.com/p/entry/place/1285864260
4,4,ì••ì§‘,ì˜ì—…,ê²½ì–‘ì‹,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë„ì‚°ëŒ€ë¡œ51ê¸¸ 42, ì§€ìƒ2ì¸µ (ì‹ ì‚¬ë™)",1712431133,ìˆ ì§‘,"[""220036"",""220051"",""229294""]",ìš”ë¦¬ì£¼ì,https://map.naver.com/p/entry/place/1712431133
...,...,...,...,...,...,...,...,...,...,...
3662,3662,ëª½ì§€ëŒ,ì˜ì—…,ì¤‘êµ­ì‹,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì‚¼ì„±ë¡œ81ê¸¸ 21 (ëŒ€ì¹˜ë™),1830207334,ì¤‘ì‹ë‹¹,"[""220036"",""220039"",""220091"",""220861""]",ì¤‘ì‹ë‹¹,https://map.naver.com/p/entry/place/1830207334
3663,3663,ì²­ì´ˆìˆ˜ë¬¼íšŒ ê°•ë‚¨ì,ì˜ì—…,í•œì‹,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì••êµ¬ì •ë¡œ28ê¸¸ 24, ì§€ìƒ1ì¸µ (ì‹ ì‚¬ë™)",1451699361,ìƒì„ íšŒ,"[""220036"",""220037"",""220076"",""220792"",""1005850""]",í•´ì‚°ë¬¼,https://map.naver.com/p/entry/place/1451699361
3664,3664,ì²¼ì‹œìŠ¤ í•˜ì´ë³¼ ê°€ë¡œìˆ˜ê¸¸,ì˜ì—…,"ì™¸êµ­ìŒì‹ì „ë¬¸ì (ì¸ë„,íƒœêµ­ë“±)","ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë„ì‚°ëŒ€ë¡œ15ê¸¸ 47, ì§€ìƒ1ì¸µ (ì‹ ì‚¬ë™)",1802296652,ë°”(BAR),"[""220036"",""220051"",""220554"",""221116""]",ë°”(BAR),https://map.naver.com/p/entry/place/1802296652
3665,3665,ë§ˆì¼€ì§‘ ë…¼í˜„ì,ì˜ì—…,ê²½ì–‘ì‹,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ118ê¸¸ 12 (ë…¼í˜„ë™,ì§€ìƒ1ì¸µ)",1619880023,ì´ìì¹´ì•¼,"[""220036"",""220051"",""220556"",""1005667""]",ìš”ë¦¬ì£¼ì,https://map.naver.com/p/entry/place/1619880023
3666,3666,ë¡œì´ì‹ ì‚¬,ì˜ì—…,ê²½ì–‘ì‹,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë„ì‚°ëŒ€ë¡œ1ê¸¸ 78, ì§€í•˜1ì¸µ,ì§€ìƒ1ì¸µ (ì‹ ì‚¬ë™)",1436741295,ë°”(BAR),"[""220036"",""220051"",""220554"",""221116""]",ë°”(BAR),https://map.naver.com/p/entry/place/1436741295

## ì‹ë‹¹ df

In [63]:
df = df[['ì‚¬ì—…ì¥ëª…', 'ë„ë¡œëª…ì£¼ì†Œ', 'url']]

In [64]:
df

,ì‚¬ì—…ì¥ëª…,ë„ë¡œëª…ì£¼ì†Œ,url
0,í˜¸ì•™ë¹„ì—£ ê°•ë‚¨ì—­ì,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ102ê¸¸ 31, ì§€ìƒ1ì¸µ 1í˜¸,2í˜¸ (ì—­ì‚¼ë™)",https://map.naver.com/p/entry/place/1268502925
1,ë°€íšŒê´€ ì—­ì‚¼ì,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ í…Œí—¤ë€ë¡œ33ê¸¸ 18, ì„œìš¸ì² ê°•ë¹Œë”© ì§€ìƒ1ì¸µ (ì—­ì‚¼ë™)",https://map.naver.com/p/entry/place/1125100881
2,ì •ë‹´ê°€ì˜¥,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë…¼í˜„ë¡œ149ê¸¸ 31, 1ë™ ì§€ìƒ1ì¸µ 101-1í˜¸ (ë…¼í˜„ë™)",https://map.naver.com/p/entry/place/1183086548
3,ì•¼í‚¤ë„ë¦¬ ìˆ˜ë‹¤,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ í…Œí—¤ë€ë¡œ87ê¸¸ 57, ì§€í•˜1ì¸µ (ì‚¼ì„±ë™)",https://map.naver.com/p/entry/place/1285864260
4,ì••ì§‘,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë„ì‚°ëŒ€ë¡œ51ê¸¸ 42, ì§€ìƒ2ì¸µ (ì‹ ì‚¬ë™)",https://map.naver.com/p/entry/place/1712431133
...,...,...,...
3662,ëª½ì§€ëŒ,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì‚¼ì„±ë¡œ81ê¸¸ 21 (ëŒ€ì¹˜ë™),https://map.naver.com/p/entry/place/1830207334
3663,ì²­ì´ˆìˆ˜ë¬¼íšŒ ê°•ë‚¨ì,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì••êµ¬ì •ë¡œ28ê¸¸ 24, ì§€ìƒ1ì¸µ (ì‹ ì‚¬ë™)",https://map.naver.com/p/entry/place/1451699361
3664,ì²¼ì‹œìŠ¤ í•˜ì´ë³¼ ê°€ë¡œìˆ˜ê¸¸,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë„ì‚°ëŒ€ë¡œ15ê¸¸ 47, ì§€ìƒ1ì¸µ (ì‹ ì‚¬ë™)",https://map.naver.com/p/entry/place/1802296652
3665,ë§ˆì¼€ì§‘ ë…¼í˜„ì,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°•ë‚¨ëŒ€ë¡œ118ê¸¸ 12 (ë…¼í˜„ë™,ì§€ìƒ1ì¸µ)",https://map.naver.com/p/entry/place/1619880023
3666,ë¡œì´ì‹ ì‚¬,"ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë„ì‚°ëŒ€ë¡œ1ê¸¸ 78, ì§€í•˜1ì¸µ,ì§€ìƒ1ì¸µ (ì‹ ì‚¬ë™)",https://map.naver.com/p/entry/place/1436741295

## í…Œì´ë¸” ìƒì„±(ë¹„ì‹ë³„í‚¤)

In [25]:
def create_tables():
    connection = get_connection()
    try:
        with connection.cursor() as cursor:
            # user_tb: ì‚¬ìš©ì ì •ë³´
            user_tb = """
            CREATE TABLE IF NOT EXISTS user_tb (
                user_id INT AUTO_INCREMENT PRIMARY KEY,
                email VARCHAR(255) NOT NULL,
                password VARCHAR(255) NOT NULL,
                created_at DATETIME DEFAULT CURRENT_TIMESTAMP
            );
            """
            cursor.execute(user_tb)

            # rest_tb: ì‹ë‹¹ ì •ë³´
            rest_tb = """
            CREATE TABLE IF NOT EXISTS rest_tb (
                rest_id INT AUTO_INCREMENT PRIMARY KEY,
                name VARCHAR(255) NOT NULL,
                address VARCHAR(255) NULL,
                url VARCHAR(255) NULL
            );
            """
            cursor.execute(rest_tb)

            # review_tb: ë°©ë¬¸ì ë¦¬ë·°
            review_tb = """
            CREATE TABLE IF NOT EXISTS review_tb (
                review_id INT AUTO_INCREMENT PRIMARY KEY,
                user_id INT,
                rest_id INT,
                author VARCHAR(20) NULL,
                review_content TEXT NULL,
                publication_date DATETIME NULL,
                CONSTRAINT fk_review_user
                    FOREIGN KEY (user_id) REFERENCES user_tb(user_id),
                CONSTRAINT fk_review_rest
                    FOREIGN KEY (rest_id) REFERENCES rest_tb(rest_id)
            );
            """
            cursor.execute(review_tb)

            # recommend_tb: ì¶”ì²œ ê¸°ë¡
            recommend_tb = """
            CREATE TABLE IF NOT EXISTS recommend_tb (
                recommend_id INT AUTO_INCREMENT PRIMARY KEY,
                user_id INT NOT NULL,
                rest_id INT NOT NULL,
                score INT NULL,
                CONSTRAINT fk_recommend_user
                    FOREIGN KEY (user_id) REFERENCES user_tb(user_id),
                CONSTRAINT fk_recommend_rest
                    FOREIGN KEY (rest_id) REFERENCES rest_tb(rest_id)
            );
            """
            cursor.execute(recommend_tb)

            # taste_tb: ì…ë§› ì •ë³´
            taste_tb = """
            CREATE TABLE IF NOT EXISTS taste_tb (
                taste_id INT AUTO_INCREMENT PRIMARY KEY,
                taste_type VARCHAR(255) NOT NULL
            );
            """
            cursor.execute(taste_tb)

            # category_tb: ìŒì‹ íƒ€ì…
            category_tb = """
            CREATE TABLE IF NOT EXISTS category_tb (
                category_id INT AUTO_INCREMENT PRIMARY KEY,
                category_name VARCHAR(255) NOT NULL
            );
            """
            cursor.execute(category_tb)

            # category_rec_tb: ìŒì‹íƒ€ì… ê¸°ë¡ ì¤‘ê°„ í…Œì´ë¸” (ì‚¬ìš©ìì™€ ìŒì‹ íƒ€ì… ê´€ê³„)
            category_rec_tb = """
            CREATE TABLE IF NOT EXISTS category_rec_tb (
                user_id INT,
                category_id INT,
                CONSTRAINT fk_category_rec_user
                    FOREIGN KEY (user_id) REFERENCES user_tb(user_id),
                CONSTRAINT fk_category_rec_category
                    FOREIGN KEY (category_id) REFERENCES category_tb(category_id)
            );
            """
            cursor.execute(category_rec_tb)

            # taste_rec_tb: ì…ë§› ê¸°ë¡ ì¤‘ê°„ í…Œì´ë¸” (ì‚¬ìš©ìì™€ ì‹ë‹¹ íƒ€ì… ê´€ê³„)
            taste_rec_tb = """
            CREATE TABLE IF NOT EXISTS taste_rec_tb (
                user_id INT,
                taste_id INT,
                CONSTRAINT fk_taste_rec_user
                    FOREIGN KEY (user_id) REFERENCES user_tb(user_id),
                CONSTRAINT fk_taste_rec_taste
                    FOREIGN KEY (taste_id) REFERENCES taste_tb(taste_id)
            );
            """
            cursor.execute(taste_rec_tb)

        connection.commit()  # ë³€ê²½ ì‚¬í•­ ì»¤ë°‹
        print("All tables created successfully!")
    
    except Exception as e:
        print(f"An error occurred: {e}")
        connection.rollback()  # ì—ëŸ¬ ì‹œ ë¡¤ë°±
    
    finally:
        connection.close()

# í…Œì´ë¸” ìƒì„± í•¨ìˆ˜ ì‹¤í–‰
create_tables()

All tables created successfully!

## ì‹ë‹¹ ì‚½ì… ì½”ë“œ

In [26]:
def insert_rest_data(df):
  # ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
  connection = get_connection()
  try:
    with connection.cursor() as cursor:
      #ì—¬ëŸ¬ ê°’ì„ ì‚½ì…í•˜ê¸° ìœ„í•œ SQL ì¿¼ë¦¬ ì¤€ë¹„
      sql = """
      INSERT INTO rest_tb (name, address, url)
      VALUES (%s, %s, %s)
      """
      # ì‚½ì…í•  ë°ì´í„° ì¤€ë¹„
      data = []
      for _, row in df.iterrows():
        name = row['ì‚¬ì—…ì¥ëª…']
        address = row['ë„ë¡œëª…ì£¼ì†Œ']
        url = row['url']
        
        #ë°ì´í„° ì¶”ê°€
        data.append((name, address, url))
      # ëª¨ë“  ë°ì´í„°ë¥¼ í•œ ë²ˆì— ì‚½ì…
      cursor.executemany(sql, data)
      # ë³€ê²½ì‚¬í•­ ì»¤ë°‹
      connection.commit()
  except Exception as e:
    print(f'Error occurred: {e}')
    #ì—ëŸ¬ ë°œìƒ ì‹œ ë¡¤ë°±
    connection.rollback()
  finally:
    # ì—°ê²° ì¢…ë£Œ
    connection.close

df = df[['ì‚¬ì—…ì¥ëª…', 'ë„ë¡œëª…ì£¼ì†Œ', 'url']]

# ë°ì´í„° ì‚½ì… í•¨ìˆ˜ í˜¸ì¶œ
insert_rest_data(df)

## ì‹ë‹¹ í…Œì´ë¸” ë°ì´í„° ì¡°íšŒ

In [ ]:
def check_rest_data():
    # ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
    connection = get_connection()
    try:
        with connection.cursor() as cursor:
            # rest_tb í…Œì´ë¸”ì—ì„œ ëª¨ë“  ë°ì´í„° ì¡°íšŒ
            sql = "SELECT * FROM rest_tb"
            cursor.execute(sql)
            # ê²°ê³¼ ê°€ì ¸ì˜¤ê¸°
            result = cursor.fetchall()
            
            # ê° í–‰ ì¶œë ¥
            for row in result:
                print(row)
    except Exception as e:
        print(f"Error occurred: {e}")
    finally:
        connection.close()

# ë°ì´í„° í™•ì¸ í•¨ìˆ˜ ì‹¤í–‰
check_rest_data()

## ìœ ì € ì •ë³´ df

In [43]:
user_df = review_data[['author_id']]

In [44]:
user_df

       author_id
0           Wgw8
1          33tn0
2          3pFp8
3          4TEY8
4         2cc1wa
...          ...
587506     1BlmR
587507     6x9uI
587508     5d5iX
587509      dAiE
587510     3a2Z0

[587511 rows x 1 columns]

In [54]:
user_df.value_counts()

author_id
1A9aU        302
bsch9        300
1E1BC        209
2XXwZ        200
1PduU        189
            ...
3MkNc          1
3MkQM          1
3MkQR          1
3MkXr          1
zzvG           1
Name: count, Length: 334122, dtype: int64

## ìœ ì € ì •ë³´ í…Œì´ë¸” ë°ì´í„° ì‚½ì…

In [45]:
import random
import string
from datetime import datetime

In [50]:
def random_password(length=10):
  characters = string.ascii_letters + string.digits
  return ''.join(random.choice(characters) for _ in range(length))

def convert_date(date_str):
    try:
        return datetime.strptime(date_str, '%Y. %m. %d. %H:%M') if pd.notna(date_str) else None
    except ValueError:
        return None
  
def insert_user_data(user_df):
  # ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
  connection = get_connection()
  try:
    with connection.cursor() as cursor:
      sql = """
      INSERT INTO user_tb (email, password, created_at)
      VALUES (%s, %s, %s)
      """

      # ì‚½ì…í•  ë°ì´í„° ì¤€ë¹„
      data = []
      for _, row in user_df.iterrows():
        author_id = row['author_id']
        # ì´ë©”ì¼ ìƒì„±
        email = f"{author_id}@naver.com"
        password = random_password()
        created_date = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

        data.append((email, password, created_date))
      # ëª¨ë“  ë°ì´í„°ë¥¼ í•œ ë²ˆì— ì‚½ì…
      cursor.executemany(sql, data)

      # ë³€ê²½ì‚¬í•­ ì»¤ë°‹
      connection.commit()
  except Exception as e:
    print(f"Error occurred: {e}")
    #ì—ëŸ¬ ë°œìƒ ì‹œ ë¡¤ë°±
    connection.rollback()
  finally:
    # ì—°ê²° ì¢…ë£Œ
    connection.close

# user_dfì—ì„œ author_id ì—´ë§Œ ì„ íƒ
user_df = review_data[['author_id']]

# ë°ì´í„° ì‚½ì… í•¨ìˆ˜ í˜¸ì¶œ
insert_user_data(user_df)

## ìœ ì € ì •ë³´ ì¡°íšŒ

In [ ]:
def check_user_data():
    # ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
    connection = get_connection()
    try:
        with connection.cursor() as cursor:
            # rest_tb í…Œì´ë¸”ì—ì„œ ëª¨ë“  ë°ì´í„° ì¡°íšŒ
            sql = "SELECT * FROM user_tb"
            cursor.execute(sql)
            # ê²°ê³¼ ê°€ì ¸ì˜¤ê¸°
            result = cursor.fetchall()
            
            # ê° í–‰ ì¶œë ¥
            for row in result:
                print(row)
    except Exception as e:
        print(f"Error occurred: {e}")
    finally:
        connection.close()

# ë°ì´í„° í™•ì¸ í•¨ìˆ˜ ì‹¤í–‰
check_user_data()

## ë°©ë¬¸ì author_id ìœ ì € emailê³¼ ê°™ì´ ì¡°íšŒ

In [60]:
# def get_reviews_with_users():
#     # ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
#     connection = get_connection()
#     try:
#         with connection.cursor() as cursor:
#             # SQL ì¿¼ë¦¬: ë¦¬ë·°ì™€ ë§¤ì¹­ëœ ì‚¬ìš©ì ì •ë³´ ì¡°íšŒ
#             sql = """
#             SELECT r.review_id, r.author, r.review_content, r.publication_date, u.email
#             FROM review_tb AS r
#             JOIN user_tb AS u ON u.email = CONCAT(r.author, '@naver.com')
#             """
#             cursor.execute(sql)
#             results = cursor.fetchall()
            
#             # ê²°ê³¼ ì¶œë ¥
#             for row in results:
#                 review_id, author, review_content, publication_date, email = row
#                 print(f"Review ID: {review_id}, Author: {author}, Email: {email}, Review Content: {review_content}, Publication Date: {publication_date}")
#     except Exception as e:
#         print(f"Error occurred: {e}")
#     finally:
#         connection.close()

# # í•¨ìˆ˜ í˜¸ì¶œ
# get_reviews_with_users()

## ë°©ë¬¸ì ë¦¬ë·° df

In [9]:
review_data = pd.read_csv('../data/review_data_fin.csv')

In [10]:
review_data = review_data[['author_id', 'content', 'created_date']]

In [11]:
review_data

,author_id,content,created_date
0,Wgw8,ì„œìš¸ì—­ì ì—ì„œ ë¨¼ì € ë§ˆëŠ˜ìŒ€êµ­ìˆ˜ ë¨¹ê³ ë„ˆë¬´ ë§›ìˆì–´ì„œ ë©°ì¹ í›„ ê°•ë‚¨ì—­ì ë°©ë¬¸í•œê±´ë° ì§€ì ë§ˆ...,9.20.ê¸ˆ
1,33tn0,í‘¸ì§í•˜ê²Œ ë¨¹ê³ ì™”ìŠµë‹ˆë‹¤.\nì‹œí‚¨ ëª¨ë“ ìŒì‹ì´ ë„ˆë¬´ ë§›ìˆì—ˆê³ í˜¸ì•™ë¹„ì—£ ì‹ ë…¼í˜„ë³´ë‹¤ëŠ” ì•½...,9.15.ì¼
2,3pFp8,ìƒˆë¡œ ìƒê²¨ì„œ ê¹”ë”í•˜ê³ í˜„ì§€ë§›ì— ê°€ê¹Œì›Œìš” ì–‘ì§€ìŒ€êµ­ìˆ˜ë‘ ë¶„ì§œ ë§›ìˆì–´ìš” ê³ ìˆ˜ í­íƒ„ ì›í•˜ì‹œ...,9.13.ê¸ˆ
3,4TEY8,ë² íŠ¸ë‚¨ ìŒì‹ ì¢‹ì•„í•´ì„œ ì´ê³³ì €ê³³ ë‹¤ë…”ëŠ”ë° ìš”ê¸°ê°€ ì°ì´ì—ìš”!! ì§„ì§œ í˜„ì§€ì¸ë“¤ì´ ìš”ë¦¬í•˜ëŠ”...,9.12.ëª©
4,2cc1wa,ê°•ë‚¨ì—­ì— ìƒˆë¡œìƒê¸´ ìŒ€êµ­ìˆ˜ ë§›ì§‘!\nì™¸ê´€ë¶€í„° ë¶„ìœ„ê¸° ìˆëŠ” í˜„ì§€ ëŠë‚Œì˜ í˜¸ì•™ë¹„ì—£ ã…ã…\...,9.10.í™”
...,...,...,...
587506,1BlmR,ë§ˆì œì†Œë°” ë„ˆë¬´ ë§›ì‡ì–´ìš”! ë‹¬ë‹¬í•œ ì†Œë°”ì—ìš”ã…ã… ëˆê¹ŒìŠ¤ë„ ë‹´ë°±í•˜ê²Œ ë§›ìˆì–´ìš”~~\nê°™ì´ ...,23.1.1.ì¼
587507,6x9uI,ë§›ìˆì–´ìš© ğŸ’œğŸ’œ,23.1.1.ì¼
587508,5d5iX,ë§›ìˆê³ ì¹œì ˆí•´ìš”,23.1.1.ì¼
587509,dAiE,"ëˆê¹ŒìŠ¤ê°€ ë°”ì‚­í•˜ë‹ˆ ë§›ìˆë„¤ìš”. ì•„ì´ë‘ ì˜ ë¨¹ê³ ê°‘ë‹ˆë‹¤,",23.1.1.ì¼
587510,3a2Z0,ë§›ìˆì–´ìš”.ê°•ë‚¨ì—­ë§›ì§‘ìœ¼ë¡œ ê°•ì¶”í•©ë‹ˆë‹¤\nê¼­ ì˜¤ì„¸ìš”~~,23.1.1.ì¼

## ë°©ë¬¸ì ë¦¬ë·° í…Œì´ë¸” ë°ì´í„° ì‚½ì…

In [38]:
def convert_date(date_str):
    try:
        return datetime.strptime(date_str, '%Y. %m. %d. %H:%M') if pd.notna(date_str) else None
    except ValueError:
        return None

def insert_rest_data(review_data):
  # ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
  connection = get_connection()
  try:
    with connection.cursor() as cursor:
      #ì—¬ëŸ¬ ê°’ì„ ì‚½ì…í•˜ê¸° ìœ„í•œ SQL ì¿¼ë¦¬ ì¤€ë¹„
      sql = """
      INSERT INTO review_tb (author, review_content, publication_date)
      VALUES (%s, %s, %s)
      """
      # ì‚½ì…í•  ë°ì´í„° ì¤€ë¹„
      data = []
      for _, row in review_data.iterrows():
        author_id = row['author_id']
        content = row['content']
        created_date = convert_date(row['created_date'])

        # # ë‚ ì§œ í˜•ì‹ ë³€í™˜
        # try:
        #   # '9.20.ê¸ˆ'ì™€ ê°™ì€ í˜•ì‹ì„ '%m.%d.%a'ë¡œ ë³€í™˜ í›„, ì›í•˜ëŠ” í˜•ì‹ìœ¼ë¡œ ë³€í™˜
        #   formatted_date = datetime.strptime(created_date, '%m.%d.%a').strftime('%Y-%m-%d %H:%M:%S')
        # except ValueError as ve:
        #   print(f'Error parsing date "{created_date}": {ve}')
        #   continue  # ì˜ëª»ëœ ë‚ ì§œ í˜•ì‹ì€ ê±´ë„ˆëœë‹ˆë‹¤
        
        #ë°ì´í„° ì¶”ê°€
        data.append((author_id, content, created_date))
      # ëª¨ë“  ë°ì´í„°ë¥¼ í•œ ë²ˆì— ì‚½ì…
      cursor.executemany(sql, data)
      # ë³€ê²½ì‚¬í•­ ì»¤ë°‹
      connection.commit()
  except Exception as e:
    print(f'Error occurred: {e}')
    #ì—ëŸ¬ ë°œìƒ ì‹œ ë¡¤ë°±
    connection.rollback()
  finally:
    # ì—°ê²° ì¢…ë£Œ
    connection.close

review_data = review_data[['author_id', 'content', 'created_date']]

# ë°ì´í„° ì‚½ì… í•¨ìˆ˜ í˜¸ì¶œ
insert_rest_data(review_data)

## ë°©ë¬¸ì ë¦¬ë·° í…Œì´ë¸” ì¡°íšŒ

In [ ]:
def check_review_data():
  # ë°ì´í„° ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
  connection = get_connection()
  try:
    with connection.cursor() as cursor:
      #rest_tb í…Œì´ë¸”ì—ì„œ ëª¨ë“  ë°ì´í„° ì¡°íšŒ
      sql = "SELECT * FROM review_tb"
      cursor.execute(sql)
      #ê²°ê³¼ ê°€ì ¸ì˜¤ê¸°
      result = cursor.fetchall()
      for row in result:
        print(row)
  except Exception as e:
    print(f"Error occurred: {e}")
  finally:
    connection.close()

check_review_data()

## í…Œì´ë¸” ì‚­ì œ

In [24]:
# import pymysql

# def drop_rest_table():
#     # ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
#     connection = get_connection()  # ì´ë¯¸ ì‘ì„±í•œ get_connection() í•¨ìˆ˜ë¥¼ ì‚¬ìš©

#     try:
#         with connection.cursor() as cursor:
#             # í…Œì´ë¸” ì‚­ì œ SQL ì¿¼ë¦¬
#             drop_sql = "DROP TABLE IF EXISTS rest_tb;"
            
#             # SQL ì‹¤í–‰
#             cursor.execute(drop_sql)
            
#             # ë³€ê²½ ì‚¬í•­ ë°˜ì˜
#             connection.commit()
#             print("í…Œì´ë¸”ì´ ì„±ê³µì ìœ¼ë¡œ ì‚­ì œë˜ì—ˆìŠµë‹ˆë‹¤.")
    
#     except Exception as e:
#         print(f"Error occurred: {e}")
    
#     finally:
#         # ì—°ê²° ë‹«ê¸°
#         connection.close()

# # í•¨ìˆ˜ ì‹¤í–‰ ì˜ˆì‹œ
# drop_rest_table()

í…Œì´ë¸”ì´ ì„±ê³µì ìœ¼ë¡œ ì‚­ì œë˜ì—ˆìŠµë‹ˆë‹¤.

## ë°ì´í„° ë² ì´ìŠ¤ í…Œì´ë¸” ì¡°íšŒ

In [72]:
def show_table():
  # ë°ì´í„° ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
  connection = get_connection()
  try:
    with connection.cursor() as cursor:
      #rest_tb í…Œì´ë¸”ì—ì„œ ëª¨ë“  ë°ì´í„° ì¡°íšŒ
      sql = "SHOW TABLE STATUS FROM jinddo_db;"
      cursor.execute(sql)
      #ê²°ê³¼ ê°€ì ¸ì˜¤ê¸°
      result = cursor.fetchall()
      for row in result:
        print(row)
  except Exception as e:
    print(f"Error occurred: {e} /n")
  finally:
    connection.close()

show_table()
# SHOW TABLE STATUS FROM jinddo_db;

{'Name': 'category_rec_tb', 'Engine': 'InnoDB', 'Version': 10, 'Row_format': 'Dynamic', 'Rows': 0, 'Avg_row_length': 0, 'Data_length': 16384, 'Max_data_length': 0, 'Index_length': 32768, 'Data_free': 0, 'Auto_increment': None, 'Create_time': datetime.datetime(2024, 10, 11, 11, 16, 42), 'Update_time': None, 'Check_time': None, 'Collation': 'utf8mb4_general_ci', 'Checksum': None, 'Create_options': '', 'Comment': '', 'Max_index_length': 0, 'Temporary': 'N'}
{'Name': 'category_tb', 'Engine': 'InnoDB', 'Version': 10, 'Row_format': 'Dynamic', 'Rows': 0, 'Avg_row_length': 0, 'Data_length': 16384, 'Max_data_length': 0, 'Index_length': 0, 'Data_free': 0, 'Auto_increment': 1, 'Create_time': datetime.datetime(2024, 10, 11, 11, 16, 42), 'Update_time': None, 'Check_time': None, 'Collation': 'utf8mb4_general_ci', 'Checksum': None, 'Create_options': '', 'Comment': '', 'Max_index_length': 0, 'Temporary': 'N'}
{'Name': 'recommend_tb', 'Engine': 'InnoDB', 'Version': 10, 'Row_format': 'Dynamic', 'Rows': 0, 'Avg_row_length': 0, 'Data_length': 16384, 'Max_data_length': 0, 'Index_length': 32768, 'Data_free': 0, 'Auto_increment': 1, 'Create_time': datetime.datetime(2024, 10, 11, 11, 16, 42), 'Update_time': None, 'Check_time': None, 'Collation': 'utf8mb4_general_ci', 'Checksum': None, 'Create_options': '', 'Comment': '', 'Max_index_length': 0, 'Temporary': 'N'}
{'Name': 'rest_tb', 'Engine': 'InnoDB', 'Version': 10, 'Row_format': 'Dynamic', 'Rows': 3643, 'Avg_row_length': 436, 'Data_length': 1589248, 'Max_data_length': 0, 'Index_length': 0, 'Data_free': 4194304, 'Auto_increment': 3668, 'Create_time': datetime.datetime(2024, 10, 11, 11, 16, 42), 'Update_time': datetime.datetime(2024, 10, 11, 11, 18, 9), 'Check_time': None, 'Collation': 'utf8mb4_general_ci', 'Checksum': None, 'Create_options': '', 'Comment': '', 'Max_index_length': 0, 'Temporary': 'N'}
{'Name': 'review_tb', 'Engine': 'InnoDB', 'Version': 10, 'Row_format': 'Dynamic', 'Rows': 0, 'Avg_row_length': 0, 'Data_length': 16384, 'Max_data_length': 0, 'Index_length': 32768, 'Data_free': 0, 'Auto_increment': 1, 'Create_time': datetime.datetime(2024, 10, 11, 11, 16, 42), 'Update_time': None, 'Check_time': None, 'Collation': 'utf8mb4_general_ci', 'Checksum': None, 'Create_options': '', 'Comment': '', 'Max_index_length': 0, 'Temporary': 'N'}
{'Name': 'taste_rec_tb', 'Engine': 'InnoDB', 'Version': 10, 'Row_format': 'Dynamic', 'Rows': 0, 'Avg_row_length': 0, 'Data_length': 16384, 'Max_data_length': 0, 'Index_length': 32768, 'Data_free': 0, 'Auto_increment': None, 'Create_time': datetime.datetime(2024, 10, 11, 11, 16, 57), 'Update_time': None, 'Check_time': None, 'Collation': 'utf8mb4_general_ci', 'Checksum': None, 'Create_options': '', 'Comment': '', 'Max_index_length': 0, 'Temporary': 'N'}
{'Name': 'taste_tb', 'Engine': 'InnoDB', 'Version': 10, 'Row_format': 'Dynamic', 'Rows': 0, 'Avg_row_length': 0, 'Data_length': 16384, 'Max_data_length': 0, 'Index_length': 0, 'Data_free': 0, 'Auto_increment': 1, 'Create_time': datetime.datetime(2024, 10, 11, 11, 16, 42), 'Update_time': None, 'Check_time': None, 'Collation': 'utf8mb4_general_ci', 'Checksum': None, 'Create_options': '', 'Comment': '', 'Max_index_length': 0, 'Temporary': 'N'}
{'Name': 'user_tb', 'Engine': 'InnoDB', 'Version': 10, 'Row_format': 'Dynamic', 'Rows': 0, 'Avg_row_length': 0, 'Data_length': 16384, 'Max_data_length': 0, 'Index_length': 0, 'Data_free': 0, 'Auto_increment': 1, 'Create_time': datetime.datetime(2024, 10, 11, 11, 15, 3), 'Update_time': None, 'Check_time': None, 'Collation': 'utf8mb4_general_ci', 'Checksum': None, 'Create_options': '', 'Comment': '', 'Max_index_length': 0, 'Temporary': 'N'}